*{text-decoration: none;}
body{
	font-family: 'sans-serif';
}
h2{
	font-size: 30px;
}
h3{
	font-size: 28px;
}
p{
	font-size: 18px;
	letter-spacing: 1px;
}
nav{
	height: 50px;
	background: transparent;
	font-family: 'Open Sens Condensed'
}
.main-container #btnn{
	width: 40px;
	height: 40px;
	position: fixed;
	left: 50%;
	bottom: 25px;
	margin-left: 700px;
	background: url(img/6.jpg) no-repeat left top;
	display: none;
}
.main-container #btnn:hover{
	background: url(img/6.jpg) no-repeat left -40px;
}
.main-container .banner .inner .hr1{
	margin-right: 45px;
}
.main-container .banner .inner .hr1{
	margin-right: -45px;
}
header .inner .hr1, header .inner .hr2{
	background: #fff;
	-webkit-transition:all 1s .8s;
	height: 1px;
	width: 100%;

}
nav img{
	height: 50px;
	width: 50px;
	border-radius: 30px;
	display: inline;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}
footer{
	background: rgba(0,0,0,0.3);
	color: #fff;
	text-align: center;
}
header{
	background:rgba(0,0,0,0.3);
}
#banner{
	background: transparent;
	height: 900px;
}
nav ul{
	list-style: none;
	margin: 0px;
	float: right;


}

nav ul li, nav .logo,nav .logo a{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
	text-decoration: none;
	
}
nav ul li a{
	line-height: 50px;
	text-decoration: none;
	display: inline-block;
	height:inherit;
	color: #fff;
	list-style:none;
}
nav.logo{
	float: left;
	padding: 10px;
	text-decoration: none;
	list-style:none;
	
}

#banner .inner{
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top:160px;
}
.sub-heading {
	line-height: 30px;
	margin: 20px 0;
	font-size: 25px;
}
#banner .inner .more,
#banner .inner p{
	color: #fff;
}
#banner .inner h1{
	margin: 0;
	font-size: 50px;
	font-weight: 700;
	color: #fff;
}
#banner .inner button{
	padding: 14px 40px;
	margin: 40px auto;
	border-radius: 10px;
}
button{
	border: none;
	background: #16C7CA;
	color: #eee;
	
}
#banner .inner .more{
	margin-top: 350px;

}
.logo {
	font-size: 20px;/* 字体大小 */
	font-weight: 700;/* 字体着重 */
	letter-spacing: 1px; /* 字体间距 */
	color: #fff;
}
.logo a{
	color: #fff;

}
.green-section{

	text-align: center;
	padding: 100px 0;
	background: #0CE9D7;
	color: white;
}
.wrapper{
	max-width: 1080px;
	margin: 0 auto;
}
#banner .hr{
	background: #fff;
	height: 1px;
	margin: 5px;
}
.hr{
	height: 2px;
	width: 100%;
	margin: 20px auto;
}
.green-section .hr{
	background: #16C7CA;
	width: 20%;

}

.icon-group{
	margin: 60px;
}
/* green-section下链接边框设置 */

.green-section .icon-group .icon{
	border: 2px solid #16C7CA;
	width: 100px;
	height: 100px;
	transform:rotate(45deg);
	display: inline-block;
	margin: 20px;
}
.green-section .icon-group .icon a{
	line-height: 100px;
}
.green-section .icon-group .icon img{
	transform:rotate(-45deg);
	padding: 10px;
	margin: 10px auto;

}
.grey-section{
	background: #10111A;
	color: #fff;

}
.grey-section .img-section{
	width: 45%;
}
.grey-section .img-section img{
	width: 100%;
}
.grey-section .text-section{

	width: 55%;
}
.artile-preview > div{
	float: left;
	font-size: 0px;
}
/* article-preview 清除父元素的样式 */
.artile-preview:after{
	content:'';
	display: block;
	clear: both;
}
 .text-section{
	position: relative;
	top: 68px;
	left:50px;
}
.text-section h2{
	margin-bottom: 20px;
}
.text-section p{
	font-size: 18px;
	letter-spacing: 1px;
}
.text-section >*{
	max-width: 90%;
}

/*  增加图片蒙版  */
.artile-preview:nth-child(odd){
	background-color: rgba(255,255,255,0.05);
}
.purple-section{
	color: #fff;
	background-color: #332A3C;
	padding: 80px;
}
.purple-section .heading-wrapper{
	text-align: center;
}
.purple-section .heading-wrapper .hr{
	width: 60%;
	background:#211D25;
}
.card{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 50px;
	-webkit-box-sizing:border-box;
	/*  border: 1px solid white; */
}

/*清除浮动样式*/

.clearfix:after{
	content:'';
	display: block;
	clear: both;
}
.card:first-child{
	background: rgba(0,0,0,0.04);
}
.card:nth-child(2){
	background: rgba(0,0,0,0.08);
}
.card:nth-child(3){
	background: rgba(0,0,0,0.12);
}
.card:nth-child(4){
	background: rgba(0,0,0,0.16);
}
.card:nth-child(5){
	background: rgba(0,0,0,0.20);
}
.card:nth-child(6){
	background: rgba(0,0,0,0.24);
}
.footer{
	display: block;
	min-height: 200px;
}
.footer ul{
	margin:0 auto;
	padding: 30px;

}
.share-group li{
	padding: 10px;
	display: inline-block;
}
.copy{
	margin-bottom: 25px;
	padding: 20px;
}

/* 背景壁纸设置 */
.main-container{
	background: #444 url(img/5.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover; /*  填充方式 */
	background-position: center center;/*  位置  */
}
.footer ul li a{
	text-decoration: none;
	color: #fff;

}
.card p,
.card  h3{
	text-align: center;
}
.purple-section .wrapper .sub-heading{
	margin: 60px auto;
	max-width: 600px;
	font-family:'Verdana';
}
.purple-section .wrapper .card-group .card p{
	font-family: 微软雅黑;
}

/* 动画类 */

.leftIn{
	-webkit-animation:l_r 1s ease;
	-o-animation:l_r 1s ease;
	-moz-animation:l_r 1s ease;
	animation:l_r 1s ease;
}
.rightIn{
	-webkit-animation:r_l 1s ease;
	-o-animation:r_l 1s ease;
	-moz-animation:r_l 1s ease;
	animation:r_l 1s ease;
}

@-webkit-keyframes l_r{
	0%{-webkit-transform: translateX(-150px);}
	100%{-webkit-transform: translateX(0px);}
}
@-o-keyframes l_r{
	0%{-o-transform: translateX(-150px);}
	100%{-o-transform: translateX(0px);}
}
@-moz-keyframes l_r{
	0%{-moz-transform: translateX(-150px);}
	100%{-moz-transform: translateX(0px);}
}
@keyframes l_r{
	0%{transform: translateX(-150px);}
	100%{transform: translateX(0px);}
}

@-webkit-keyframes r_l{
	0%{-webkit-transform: translateX(150px);}
	100%{-webkit-transform: translateX(0px);}
}
@-o-keyframes r_l{
	0%{-o-transform: translateX(150px);}
	100%{-o-transform: translateX(0px);}
}
@-moz-keyframes r_l{
	0%{-moz-transform: translateX(150px);}
	100%{-moz-transform: translateX(0px);}
}
@keyframes r_l{
	0%{transform: translateX(150px);}
	100%{transform: translateX(0px);}
}